# Dependencias de Node
node_modules/
/npm-debug.log*
/yarn-error.log*
/yarn-debug.log*
/pnpm-debug.log*

# Compilación y producción de Next.js
.next/
out/
build/

# Archivos temporales de Next.js PWA (serwist / next-pwa)
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/fallback-*.js
tsconfig.tsbuildinfo

# Variables de entorno y llaves secretas (¡NUNCA SUBIR A GITHUB!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.flash

# Archivos de configuración locales de Sanity CLI
.sanity/

# Archivos del sistema operativo y editores
.DS_Store
/*.local
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
